<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="io.blimp.cordova.3dtouch-shortcutitems" version="0.0.1">
    <name>cordova-plugin-3dtouch-shortcutitems</name>
    <description>Helper plugin for 3D Touch Shortcut Items in iOS 9 and above</description>
    <license>MIT</license>
    <keywords>cordova,3dtouch,shortcut,shortcutitem</keywords>
    <js-module src="www/index.js" name="BLShortcutItem">
        <clobbers target="shortcutItem" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BLShortcutItem">
                <param name="ios-package" value="BLShortcutItem"/>
            </feature>
        </config-file>
        <header-file src="src/ios/AppDelegate+BLShorcutItem.h" />
        <source-file src="src/ios/AppDelegate+BLShorcutItem.m" />

        <header-file src="src/ios/BLShortcutItem.h" />
        <source-file src="src/ios/BLShortcutItem.m" />
    </platform>
</plugin>
